.addService form.customform{
  text-align:left;
  padding:0 10px 15px;
}

.addService form.customform h1, .allservices{
  display:inline-block;
  color:rgb(89,95,95);
  font-size:21px;
  padding:0 10px 15px;
  border-bottom:2px solid rgb(236,236,234);
  margin-left:30px;
}

.addService .inputColumn{
  padding:12px;
  height:50px;
  width:250px;
}

.addService .form-control{
  border:1px solid #dbdbdb;
}

.addService btn-primary{
  border-radius:2px;
  background:rgb(116,175,173);
}

.addService button.btn.btn-primary.active{
  background:rgb(116,175,173);
  border-color:rgb(116,175,173);
  color:white;
  font-weight:bold;
  margin:20px 15px;
  outline:none;
}

.serviceIcon{
  font-size:150px;
  margin-left:60px;
}

.customform .form-control{
  height:40px;
  width:500px;
  margin-bottom:20px;
}

.customform #desc{
  height:80px;
}

