.modal{
  position: absolute;
  left:20%;
  top:10%;

}
.modal-content{
  max-width:400px;
  max-height: 700px;
}

.modal-header h4{
  font-weight:normal;
  font-size:20px;
  text-align:left;
  margin-left:10px;
}

.appntTab li a{
  font-size:12px;
}

.appntTab{
  margin-bottom: 15px;
}

.tab-content label{
  font-weight:normal;
  font-size:14px;
  text-align:right;

}

.appointmentForm input ,.appointmentForm select{
  border-radius: 2px;
  border:.5px solid #D3D3D3;
  height: 30px;
  padding:5px;
  margin-top:2px;
}

.appointmentForm select{
  width: 260px;
}

.new-cust{
	margin-left: 100px;
}

#appntcont, #appntsave{
  height:40px; 
  width:150px;
  margin-left: 200px;
  margin-top: 15px;
}

#searchTab input{
  margin-left:20px;
  border-radius: 2px;
  border:.5px solid #D3D3D3;
  height: 30px;
  width: 290px;
  padding:5px;
}

#searchTab span{
  margin-right:15px;
  border-top: .5px solid #D3D3D3;  
  border-right: .5px solid #D3D3D3;  
  border-bottom: .5px solid #D3D3D3;
  padding:8px;
  border-radius: 2px;
  margin-top: -2px;
}
