.customerForm .form-control{
  width: 350px;
  margin: 5px 20px;
}

#costHead{
  border:none;
  background:none;
  font-size:30px;
  margin-top:45px;
}

.customerForm{
  margin:30px 50px;
}

.customerForm p{
  display:block;
  float:left;
  margin-left:35px;
  margin-top: 3px;
}

.customerBtn{
  height: 50px;
  width: 100px;
}

.custbtn0{
  left: 30%;
  position: relative;
}

.custbtn1{
  position: relative;
  right: 7%;
  margin-top:60px;
}

.rightside1{
  height: 50px;
  width: 120px;
  margin-left: 20px;
}

.customerProf #submit-button, .customerProf #cancel-button{
  position: relative;
  left:0;
}


.backcustbtn{
  height: 50px;
  width: 100px;
  position: relative;
  right: 18%;
  margin-top: 20px;
}