#nav{
  background-color:#74afad;
  border:none;
  padding:5px;
}

#useroption{
  font-size:30px;
}

#dropdownUser{
	margin-right:10px;
}

#logo{
  max-height:60px;
  max-width:60px;
  margin-left:2px;
  margin-top:-7px;
}

@media (min-width:768px) {
  .navbar{
    border-radius:0px;
  }
}

.navbar-inverse .navbar-nav > li > a{
  color:#fffdfd;
}

.navbar-primary ul li a{
  color:#fefeff;
}

.collapse .navbar-text{
  font-size:20px;
  margin-left:500px;
}

.tabs-left{
  border-bottom:none;
  padding-top:2px;
  margin-top:5em;
  width:80px;
  position:fixed;
}

.tabs-left{
  border-right:1px solid #ddd;
}

.tabs-left > li{
  float:none;
  margin-bottom:2px;
  margin-right:-1px;
}

.tabs-left > li.active > a, .tabs-left > li.active > a:hover, .tabs-left > li.active > a:focus{
  border-bottom-color:#ddd;
  border-right-color:transparent;
}

.tabs-left > li > a{
  border-radius:4px 0 0 4px;
  margin-right:0;
  display:block;
}

.tabs-left .fa{
  font-size:40px;
  color:#74afad;
  margin:10px 0;
}

.tabs-left .active .fa{
  color:inherit;
  color:gray;
}

.tab-content{
	margin-top:100px;
}

.serviceList{
	font-size:20px;
	overflow:scroll;
	height:400px;
	width:790px;
	overflow-x: hidden !important;	

}


.serviceList ul { padding-left:20px; list-style:none; }
.serviceList li { margin-bottom:10px;}
.serviceList li a{ 	color:gray;}

.serviceList li:before {    
    font-family: 'FontAwesome';
    content: '\f03a';
    margin:0 5px 0 2px;
}
.serviceList a:hover{
	text-decoration:none;
}


::-webkit-scrollbar {
width: 12px;
height: 12px;
}

::-webkit-scrollbar-track {
background: #f5f5f5;
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
border-radius: 10px;
background: #ccc;  
}

::-webkit-scrollbar-thumb:hover {
background: #999;  
}

#servtitle{
	margin-left:240px;
	margin-bottom:10px;
}

#addservice{
	height:50px;
	width:150px;
	border-radius:5px;
	border:1px solid #ddd;
	margin-left:220px;
	margin-top:10px;
}
