body {
    padding-top: 100px;
    overflow-x:hidden;    
  }

.nav{
  height: 80px;
  border-radius: 0px;
  -webkit-box-shadow:0px 2px 0px #D3D3D3;
  -moz-box-shadow:0px 2px 0px #D3D3D3;
  box-shadow:0px 2px 0px #D3D3D3;
  }

.section1 {
  background-image:url(../../assets/img/login.jpg);
  background-repeat:no-repeat;
  background-size: cover;
  background-position: 100% top;
  background-attachment: fixed;

}

#logo{
    width:151px;
    margin-top:-10px;
    margin-right:10px;
    margin-left:50px;
}


#myNavbar ul li a{
  color:#2C3B39;
  margin-top:10px;
  text-decoration: none;
  transition: color 0.3s linear;
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
}  

#myNavbar ul li a:hover{
  color:#4682B4;
  margin-top:10px;
}

#kalendaryo{
  height: 500px;
  width: 700px;
}

.section2 .col-md-5{
  margin-top:120px;
}

.section3 .col-md-4{
  margin-top:120px;
}

.full-page h2{
  text-align: left;
  font-weight: normal;
  font-size: 40px;
}

.full-page p{
  font-size:20px;
}

#control{
  height: 515px;
  width:800px;
  margin-left:-51px;
  

}
#bilog{
height: 200px;
width: 200px;
border-radius: 100%;
border: 5px solid #3498db;	
box-shadow: 7px 10px 10px #bebebe; 
}

#logoo{
  height:20px;
  width:20px;
  margin-left:40px;
}
#logoo2{
  height:20px;
  width:20px;
  margin-left:60px;
}

h1{
	color:white;
}

.perks{
  margin-left:15px;
  text-align: center;
}


.footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
.left{
	margin-left:100px;
}
.jumb1 , .jumb2{
    background: rgba(255,255,255,0.75);
    padding:10px;
    text-align: left;
    width: 550px;
    margin:20px 1px;
    color:  #817776;

 }

 .jumb1{
  height:190px;
 }


 #login1{
margin-top:10px;
 	width: 100px;
 	background-color:#4863A0;
 	border:none;
 }
.loginformm{
	margin-top:110px;
	margin-left:175px;
}