#text{
  margin-left:150px;
  margin-top:50px;
}
#text h1{
font-size: 50px;
}

#p1{
  font-size:25px;
  max-width:500px;
}

.title{
  font-weight:normal;
  font-size:52px;
}
a.top{
	max-height:15px;
	color: #fff;
}

#bg{
  background:url(../../assets/img/bg.jpg) no-repeat center;
  background-size: cover;
  min-height:720px;
  border:1px green;
  padding-top:100px;
  margin-top:-50px;
  
}

#logo{
  width:150px;
  margin-top:-10px;
  margin-right:10px;
  margin-left:50px;
}

#logo2{
  max-height:80px;
  max-width:80px;
  margin-top:-5px;
  margin-left:50px;
}

.nav{
  max-height:100px;
  
}

#btn{
  margin-top:200px;
  padding:18px 28px;
}

#btn2{
  margin-top:13px;
  padding-left: 10px;
}

nav.navbar-nav.navbar-right{
  margin-top:10px;
  /* background-color: #666; */
  margin-left:5px;
  padding-top:0px;

}
#ad1{
  max-width:850px;
  text-align:center;
  margin:0 auto;
  margin-bottom:50px;
  margin-top:50px;
}

#ad1 h1{
  font-weight:normal;
  margin-bottom:25px;
}

#bg2{
  background:url(../../assets/img/bg2z.jpg);
  min-height:500px;
  margin:0 auto;
  margin-bottom:50px;
}


