body {
	background-image:url(../../assets/img/login.jpg);
	background-repeat:no-repeat;
	background-size: cover;
	height:100%;
	width:100%;
    background-position: 100% top;
    background-attachment: fixed;
}
#logo1{
	height:200px;
	width:500px;

}

 .jumb1 , .jumb2{
    background: rgba(255,255,255,0.75);
    padding:10px;
    text-align: left;
    width: 550px;
    margin:20px 50px;
    color:  #817776;

 }

 .jumb1{
  height:180px;
 }

 .jumb2{
 	height: 200px;
 }
 .leftSide h1{
  font-weight: normal;
  font-size:27px;
  color:#4A4A4A;
 }

 .leftSide p{
  font-size:20px;
 }

 .loginform{
  margin:20px 50px;
 }

 .loginform input{
  width: 350px;
  margin:10px 0;
 }

 .loginform label{
  font-size:18px;
 }
 .top{
	 margin-top:-40px;
 }

 .loginform p{
 	font-size:18px;
 	margin-top:10px;
 }

 .loginform p a{
 	font-weight: bold;
 	color:#2583E5;
 	text-decoration: none;
 }

 #login1{
 	width: 100px;
 	background-color:#4863A0;
 	border:none;
 }

  #login1:hover{
  	background-color:#3E5996;
 }
 
@media (max-width: 768px) {
	#logo1{
	width:350px;
	height:150px;
	margin-bottom: 20px;
	}

	.jumb1,.jumb2{
		display:none;
	}

	.loginform input{
		width: 280px;
	}

	.loginform{
		margin-top:55px;
	}


}	

@media (min-width: 769px) and (max-width: 1024px){
	#logo1{
		width: 250px;
		height: 140px;
	}

	.jumb1,.jumb2{
		width: 400px;
	}

	.loginform{
		margin-left:100px;
	}

	.loginform input{
		width: 310px;
	}
}

@media (min-width: 1025px) and (max-width: 1200px){
	.loginform{
		margin-left:120px;
	}

	#logo1{
		width: 320px;
		height: 100px;
		margin-bottom: 40px;
		margin-top: 20px;
	}
}