body {
	background-image:url(../../assets/img/login.jpg);
	background-repeat:no-repeat;
	background-size: cover;
	height:100%;
	width:100%;
}
#logo1{
	height:200px;
	width:500px;

}

.verticalLine {
  border-left: 1px solid gray;
  float:left;
  height:400px;
  margin-top:-60px;

}


 .jumb1 , .jumb2{
    background: rgba(255,255,255,0.75);
    padding:2px;
    text-align: left;
    width: 550px;
    margin:5px 30px;
    color:  #817776;
 }

 .jumb1{
  height:160px;

 }

 .leftSide h1{
  font-weight: normal;
  font-size:27px;
 }

 .leftSide p{
  font-size:20px;
 }

 .loginform{
  margin:20px 50px;
 }

 .loginform input{
  width: 350px;
  margin:10px 0;
 }

 .loginform label{
  font-size:18px;
 }
 .top{
	 margin-top:-40px;
 }
 
@media (max-width: 768px) {
	#logo1{
	width:150px;
	height:75px;
	}
	body {
		width:20px;
		height:10px;
	}
	.jumb1, .jumb2{
		margin-left:25px;
		height:150px;
		width:300px;
		float:center;
	}
	.loginform{
		width:50px;
	}
	.verticalLine{
		
	}

}	