body{
	margin-top:40px
}

#nav{
  background:transparent;
  min-height:70px;
  border:none;
  margin:0 50px;
}


#logo{
  max-height:70px;
  max-width:70px;

}

.margin-top{
	margin-top:80px;
	
}
.margin-top1{
	margin-top:20px;
	
}

body {
    padding-top: 60px;

  }

  .right{
	  float:right;
	  margin-top:15px;
  } 
 
.nav{
  height: 80px;
  border-radius: 0px;
  -webkit-box-shadow:0px 2px 0px #D3D3D3;
  -moz-box-shadow:0px 2px 0px #D3D3D3;
  box-shadow:0px 2px 0px #D3D3D3;
  }

  .navbar-default1{
  background-color: white;}

#bg{
	/* background-size:cover; */
	width: 150px;
	margin-left: 500px;
	

}
#bg1{
    width:1400px;
	height:100%;
    /* margin-top:-18px; */
    /* margin-right:10px; */
    /* margin-left:50px; */
}


#logo1{
    width:151px;
    margin-top:10px;
    margin-right:10px;
    margin-left:35px;
}

#device{
    width:700px;
    /* margin-top:10px; */
    /* margin-right:10px; */
    /* margin-left:35px; */
}



#wrapper section{
    margin-top:100px;
}


#myNavbar ul li a{
  color:#2C3B39;
  margin-top:10px;
  text-decoration: none;
  transition: color 0.3s linear;
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
}  
#myNavbar ul li a:hover{
 color:#4682B;
  margin-top:10px;
}

#kalendaryo{
  height: 500px;
  width: 900px;
}
#kalendaryo1{
  height: 150px;
  width: 150px;
}


.container1{
  width: 1400px;
  
}

.col-left{
  float:left;
  width: 40%;
}

.top-section {
  height: 80%;
}

.bottom-section {
  height: 20px;
  margin:10px;
  text-align:center;
  border-top:1px solid #D3D3D3;
  padding:5px;

}

.bottom-content {
  display: inline-block;
}

h1{
	color: white;
}
.align-center{
	text-align:center;
}



/* CREATE AN ACCOUNT */
.login-card {
  max-width:400px;
  padding:40px 40px;
  margin:0 auto 25px;
  margin-top:50px;
  margin-right:30px;
  border-radius:5px;
  background:url(../../assets/img/bg10.png);
}

.login-card p{
  color:#D1D0CE;
}

.login-card .profile-name-card{
  font-size:25px;
  font-weight:normal;
  text-align:center;
  margin:10px 0 0;
  min-height:1em;
  margin-bottom:10px;
}

.login-card .reauth-email{
  display:block;
  color:#404040;
  line-height:2;
  margin-bottom:10px;
  font-size:14px;
  text-align:center;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  box-sizing:border-box;
}

.login-card .form-signin input[type=email], .login-card .form-signin input[type=password], .login-card .form-signin input[type=text], .login-card .form-signin button{
  height:44px;
  font-size:16px;
  width:100%;
  display:block;
  margin-bottom:10px;
  z-index:1;
  position:relative;
  box-sizing:border-box;
}

.login-card label{
  color:#000000;
}

.login-card .form-signin .form-control:focus{
  border-color:rgb(104, 145, 162);
  outline:0;
  -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
  box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.login-card .btn.btn-signin{
  font-weight:700;
  height:36px;
  line-height:36px;
  font-size:14px;
  background:#98AFC7;
  border-radius:3px;
  border:none;
  transition:all 0.218s;
  padding:0;
  opacity:.5;
  color:white;
}

.login-card .btn.btn-signin:hover, .login-card .btn.btn-signin:active, .login-card .btn.btn-signin:focus{
  background-color:#98AFC7;
  opacity:1;
}

.login-card .forgot-password{
  color:rgb(205,205,205);
  font-size:15px;
}

.login-card .forgot-password:hover, .login-card .forgot-password:active, .login-card .forgot-password:focus{
  text-decoration:underline;
}

/* SIGN IN */
.login-card1 {
  height:400px;
  width:350px;
  padding:40px 40px;
  margin:0 auto 25px;
  margin-top:50px;
  margin-right:100px; 
  border-radius:5px;
  background:url(../../assets/img/bg10.png);
}

.login-card1 p{
  color:#D1D0CE;
}

.login-card1 .profile-name-card1{
  font-size:25px;
  font-weight:normal;
  text-align:center;
  margin:10px 0 0;
  min-height:1em;
  margin-bottom:10px;
}

.login-card1 .reauth-email1{
  display:block;
  color:#404040;
  line-height:2;
  margin-bottom:10px;
  font-size:14px;
  text-align:center;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  box-sizing:border-box;
}

.login-card1 .form-signin1 input[type=email], .login-card1 .form-signin1 input[type=password], .login-card1 .form-signin1 input[type=text], .login-card1 .form-signin1 button{
 height:44px;
  font-size:16px;
  width:100%;
  display:block;
  margin-bottom:10px;
  z-index:1;
  position:relative;
  box-sizing:border-box;
}

.login-card1 label{
   color:#000000;
}

.login-card1 .form-signin1 .form-control1:focus{
  border-color:rgb(104, 145, 162);
  outline:0;
  -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
  box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.login-card1 .btn.btn-signin1{
  font-weight:700;
  height:36px;
  line-height:36px;
  font-size:14px;
  background:#98AFC7;
  border-radius:3px;
  border:none;
  transition:all 0.218s;
  padding:0;
  opacity:.5;
  color:white;
}

.login-card1 .btn.btn-signin1:hover, .login-card1 .btn.btn-signin1:active, .login-card1 .btn.btn-signin1:focus{
 background-color:#98AFC7;
  opacity:1;
}

.login-card1 .forgot-password1{
  color:rgb(205,205,205);
  font-size:15px;
}

.login-card1 .forgot-password1:hover, .login-card1 .forgot-password1:active, .login-card1 .forgot-password1:focus{
  text-decoration:underline;
}
.bgimage{
	background: url (../../assets/img/login.jpg);
	
}

/* radio button */
ul li{
  color: #AAAAAA;
  display: block;
  position: relative;
  /* float: left; */
  margin-left:-50px;
  width: 100%;
  height: 100px;
  margin-top:-15px;
	/* border-bottom: 1px solid #333; */
}

ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

ul li label{
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 1.35em;
  padding: 27px 25px 25px 50px;
  margin: 10px auto;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

ul li:hover label{
	color: #3498DB;
}

ul li .check{
  display: block;
  position: absolute;
  border: 5px solid #AAAAAA;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 30px;
  left: 20px;
	/* z-index: 5; */
	/* transition: border .25s linear; */
	/* -webkit-transition: border .25s linear; */
}

ul li:hover .check {
  border: 5px solid #3498DB;
}

ul li .check::before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 100%;
  height: 11px;
  width: 11px;
  top: 2px;
  left: 2px;
  /* margin: auto; */
	/* transition: background 0.25s linear; */
	/* -webkit-transition: background 0.25s linear; */
}
h5{
	color:black;
	text-align:center;
	font-size:35px;
	/* font-family: Agency FB; */
	/* font-family: Berlin Sans FB; */
	/* font-family: Bell MT; */
	/* font-family: Book Antiqua; */
	/* font-family: Bookman Old Style; */
	/* font-family: Cambria Math; */
	font-family: Century Gothic; 
}

input[type=radio]:checked ~ .check {
  border: 5px solid #3498DB;
}

input[type=radio]:checked ~ .check::before{
  background: #3498DB;
}

input[type=radio]:checked ~ label{
  color: #3498DB;
}

.white{
	/* background:url(../../assets/img/white.png); */
	height:105px;
	width:318px;
	margin-left:12px;
	margin-top:30px;
	background-color:white;
	border-radius:10px;
	
}
